html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  font-size: 1.6rem;
}
section {
  background-color: #bbddee;
  padding: 1rem;
}

section,
h1,
h2,
h3,
p,
pre,
ul {
  margin-block-end: 1rem;
}
h1,
h3 {
  font-weight: 700;
  margin-block-end: 1rem;
}
h2 {
  background-color: #88aabb;
  text-align: right;
  padding: 1rem;
  margin: -1rem -1rem 1rem 0;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: 700;
}
p {
}
pre {
  font-family: "Courier New", Courier, monospace;
  margin-inline-start: 2rem;
}
ul {
  list-style: disc;
  margin-inline-start: 3rem;
}
ul li {
}
#toka,
#kolmas {
  border: black 1px solid;
}

/* section.toka kuvan muotoilu */
.small-left-top {
  max-width: 100%;
  width: 10rem;
  float: left;
  background-color: white;
  margin: -1.1rem 2rem 2rem -1.1rem;
  border-inline-end: black 1px solid;
  border-block-end: black 1px solid;
}
.small-left-top img {
  max-width: 10rem;
}
/* Class-tyyppiset säännöt*/

.iso {
  float: left;
  font-size: 500%;
  width: 10rem;
  text-align: center;
  background-color: #568;
  color: white;
  margin: -1rem 2rem 1rem -1rem;
  padding: 1rem 1rem 2rem;
  border-block-end: 1.5rem white solid;
  border-inline-end: 1.5rem white solid;
}
.banner-left {
  float: inline-start;
  width: 50rem;
  background: white;
  padding: 1rem;
  margin: -1.1rem 2rem 1rem -1.1rem;
  border-block-end: black 1px solid;
  border-inline-end: black 1px solid;
}
.banner-right {
  float: inline-end;
  width: 40rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem 1em;
  background: white;
  border: black 1px solid;
  margin: 2rem -1.1rem 2rem 2rem;
  border-inline-end: 0;
}
